<!--<div class="container">-->
<div class="" ng-class="{'home-background': vm.currentName === 'home'}" ui-view="content">
    <div class="container">
        <div class="home-content" ng-cloak>
            <div class="home-content-pic">
                <div class="row">
                    <!--<div class="col-md-4">-->
                    <!--<span class="hipster img-responsive img-rounded"></span>-->
                    <!--</div>-->
                    <div class="col-md-12 home-content-title">
                        <h1>欢迎来到独孤乐天的小站</h1>

                    </div>
                    <form>
                        <div class="home-search-input-wrapper">
                            <input type="text" class="home-search-input" ng-model="vm.pageState">
                            <button type="submit" class="home-search-button" ng-click="vm.jumpFromHome(vm.pageState)">发现神奇</button>
                            <div class="existed-theme">
                                <div class="home-search-tip" ng-click="vm.jumpFromHome('blog')">博客</div>
                            </div>
                        </div>
                        <!--<toaster-container></toaster-container>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
