
<div class="container">
    <div class="well" ng-class="{'home-background': vm.currentName === 'home'}" ui-view="content">
        <div class="home-content" ng-cloak>
            <div class="home-content-pic">
                <div class="row">
                    <!--<div class="col-md-4">-->
                    <!--<span class="hipster img-responsive img-rounded"></span>-->
                    <!--</div>-->
                    <div class="col-md-12 home-content-title" >
                        <h1>欢迎来到工大一卡通失物招领系统</h1>

                    </div>
                    <div>
                        <div class="home-search-input-wrapper">
                            <input type="text" class="home-search-input" ng-model="vm.cardNumber"><button class="home-search-button" ng-click="vm.searchCardNumber(vm.cardNumber)">查找一卡通</button>
                        </div>
                        <toaster-container></toaster-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-footer">
    <div>© 2017 liutianhong.com</div>
</div>
